@using PDBWebApp.Models
@model Studios


<form method="post">
    <div>
        <label  asp-for="Name"></label>
        <input asp-for="Name"/>
    </div>
    <div asp-for ="Workout"> do
        @*<select asp-for="Workout" asp-items="@Html.GetEnumSelectList<WorkoutType>()"> </select>*@
    </div>
       
   
    <input type="submit" name="save" value="Save">
</form>