@using Microsoft.EntityFrameworkCore
@using PDBWebApp.Models
@model PDBWebApp.ViewModels.StudiosViewModel

    @{ ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<table>
        @foreach (var studio in Model.Studios)
        {
            <tr>
                <td><a asp-controller="Workout" asp-action="Workout" asp-route-id1="@studio.Id">@studio.Name</a></td>
            </tr>
        }

    </table>
    @*<a asp-action="FillInfo">Попълване</a>*@

 
